/* Colors reference: 
blue #00164c 
red #e22222 
black-grey #171819
light-grey #878a90
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:900|Open+Sans");

.is-blue {
  background: #00164c;
}

.has-text-blue {
  color: #00164c;
}

.has-text-red {
  color: #e22222;
}

/* Logos */
.logo {
  width: 80%;
  padding-bottom: 1rem;
}

.nav-logo {
  width: 200px;
  position: absolute;
  left: 5%;
  top: 18%;
}

.cd-monogram {
  padding: 0;
  margin: 0px 0.5rem;
  height: 1.2rem;
  width: auto;
}

.shopping {
  color: #f5f5f5;
  float: right;
}

.is-not-visible {
  display: none;
}
